.container-fluid.bg-dark .nav-link {
    color: #f8f9fa ; /* Overrides Bootstrap styles */
}

.container-fluid.bg-dark .nav-link:hover {
    color: #198754 ; /* Optional hover state */
}

footer {
    height: 100px;
}